:root {
  --black: #202020;
  --yellow: #ffd100;
  --light-yellow: #ffee32;
  --lightest-yellow: #fff0ad;
  --white: #f7f4f3;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.title::after {
  display: block;
  position: relative;
  content: "";
  width: 470px;
  height: 1px;
  background: var(--light-yellow);
  margin-left: 20px;
}

.heading1 {
  font-family: var(--font-sans);
  color: var(--light-yellow);
}

.content {
  /* background-color: gray; */
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.paragraph {
  font-family: var(--font-mono);
  color: var(--white);
  margin: 20px 0;
}

.link {
  cursor: pointer;
  margin: 10px;
  border: 2px solid var(--light-yellow);
  background-color: transparent;
  color: var(--light-yellow);
  font-family: var(--font-sans);
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
}

.link:hover {
  background-color: var(--light-yellow);
  color: var(--black);
  font-weight: 600;
  border: 2px solid var(--light-yellow);
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.nameEmailContainer {
  display: flex;
}

.formLabel {
  color: var(--white);
  font-family: var(--font-mono);
}

.inputs {
  font-family: var(--font-mono);
  border: 2px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  margin: 10px;
  color: var(--white);
  padding: 15px;
}

.name,
.email {
  width: 20vw;
}

.message {
  height: 20vh;
}

.button {
  cursor: pointer;
  border: 2px solid var(--light-yellow);
  background-color: var(--light-yellow);
  color: var(--black);
  font-family: var(--font-mono);
  padding: 15px 20px;
  font-weight: 600;
  /* border-radius: 5px; */
}

.button:hover {
  background-color: var(--light-yellow);
  color: var(--black);
}

.inputs:focus {
  outline: none;
  border: 2px solid var(--light-yellow);
  transition: border 0.3s ease;
  background-color: transparent;
}

.nameLabel,
.emailLabel {
  color: var(--white);
  font-family: var(--font-mono);
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  top: 36vh;
  opacity: 0;
  position: absolute;
  background-color: transparent;
  cursor: text;
  border: none;
  transition: top 0.3s;
  padding: 0 5px;
}

.nameLabel {
  left: 27vw;
}

.emailLabel {
  left: 51vw;
}

.msgLabel {
  color: var(--white);
  font-family: var(--font-mono);
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  top: 47vh;
  left: 27vw;
  opacity: 0;
  position: absolute;
  background-color: transparent;
  cursor: text;
  border: none;
  transition: top 0.3s;
  padding: 0 5px;
}

.name:focus::placeholder,
.email:focus::placeholder,
.message:focus::placeholder {
  color: transparent;
}

.name:focus ~ .nameLabel,
.email:focus ~ .emailLabel {
  position: absolute;
  top: 34vh;
  background-color: var(--black);
  color: var(--light-yellow);
  opacity: 1;
  font-size: 13px;
}

.name:focus ~ .nameLabel {
  left: 27vw;
}

.email:focus ~ .emailLabel {
  left: 51vw;
}

.message:focus ~ .msgLabel {
  position: absolute;
  top: 45vh;
  left: 27vw;
  background-color: var(--black);
  color: var(--light-yellow);
  opacity: 1;
  font-size: 13px;
}

/* Autofill */
.inputs:-webkit-autofill,
.inputs:-webkit-autofill:hover,
.inputs:-webkit-autofill:focus,
.inputs:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--black) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}
