.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.title::after {
  display: block;
  position: relative;
  content: "";
  width: 250px;
  height: 1px;
  background: var(--light-yellow);
  margin-left: 20px;
}

.heading1 {
  font-family: var(--font-sans);
  color: var(--light-yellow);
}

.org {
  font-weight: 500;
  margin: 5px 0;
}

.position {
  font-weight: 400;
  margin: 5px 0;
}

.year {
  font-weight: 300;
  margin: 5px 0;
  font-size: 14px;
}
