/* Sidebar */
.sidebar {
  position: fixed;
  bottom: 0;
  width: 40px;
  right: auto;
  left: 40px;
  text-align: center;
}

.sidebar::after {
  display: block;
  content: "";
  width: 1px;
  height: 100px;
  background: var(--white);
  margin: 0 auto;
}

.sidebar > ul {
  list-style-type: none;
}

.sidebar > ul > li {
  margin: 20px 0;
}

footer {
  text-align: center;
  color: var(--white);
  font-family: var(--font-mono);
}
