:root {
  --black: #202020;
  --yellow: #ffd100;
  --light-yellow: #ffee32;
  --lightest-yellow: #fff0ad;
  --white: #f7f4f3;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

.sidebar {
  position: fixed;
  bottom: 0;
  width: 40px;
  right: auto;
  left: 40px;
  text-align: center;
}

.sidebar::after {
  display: block;
  content: "";
  width: 1px;
  height: 100px;
  background: var(--white);
  margin: 0 auto;
}

.ul {
  list-style-type: none;
}

.li {
  margin: 20px 0;
}

.icon {
  color: var(--white);
}

.icon:hover {
  color: var(--light-yellow);
}
