.sidebar {
  position: fixed;
  bottom: 0;
  width: 40px;
  right: auto;
  left: 40px;
  text-align: center;
}

.sidebar::after {
  display: block;
  content: "";
  width: 1px;
  height: 100px;
  background: var(--white);
  margin: 0 auto;
}

.ul {
  list-style-type: none;
}

.li {
  margin: 20px 0;
}
