:root {
  --black: #202020;
  --yellow: #ffd100;
  --light-yellow: #ffee32;
  --lightest-yellow: #fff0ad;
  --white: #f7f4f3;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

* {
  background-color: var(--black);
}

/* Header */

header {
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin: 7%;
}

header > h3 {
  color: var(--white);
  font-size: 60px;
}

header > h2 {
  color: var(--white);
  font-size: 80px;
}

header > h1 {
  color: var(--light-yellow);
  font-size: 100px;
}

header > p {
  color: var(--white);
}

header > .down {
  margin: 100px 0;
}

header > .down > svg {
  /* stroke-width: 5px; */
}

/* Sidebar */
.sidebar {
  position: fixed;
  bottom: 0;
  width: 40px;
  right: auto;
  left: 40px;
  text-align: center;
}

.sidebar::after {
  display: block;
  content: "";
  width: 1px;
  height: 100px;
  background: var(--white);
  margin: 0 auto;
}

.sidebar > ul {
  list-style-type: none;
}

.sidebar > ul > li {
  margin: 20px 0;
}

footer {
  text-align: center;
  color: var(--white);
  background-color: gray;
  font-family: var(--font-mono);
}
