@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto+Mono&display=swap");

:root {
  --black: #202020;
  --yellow: #ffd100;
  --light-yellow: #ffee32;
  --white: #f7f4f3;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
}
